main {
    margin-right: 30px;
}

.banner {
    margin-top: 6rem;
}
.title-item {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(229, 231, 233);
}

.textoApresentacao {
    color: rgb(229, 231, 233, 0.7);
}
.textoApresentacao span {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: chocolate;
}

.linguagens {
    color: rgb(229, 231, 233, 0.7);
}
code {
    font-size: 13px;
    color: chocolate;
}

.explicativo {
    margin-top: 10px;
}

.icon-linguagens {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5;
    justify-content: space-between;
    padding-top: 10px;
}

.language {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
}
